#include "Version.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = br.com.vendamais.mobile
PRODUCT_NAME = VendaMaisIOS
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 15.0
TARGETED_DEVICE_FAMILY = 1,2

FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../shared/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)"
OTHER_LDFLAGS = $(inherited) -framework VendaMaisShared
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
ENABLE_USER_SCRIPT_SANDBOXING = NO
